html,body,div,p,span,img,ul,li,header,nav,h1,h2,h3,h4,h5,h6,textarea{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
	
}
body.menu-open{
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
/*===============================================
	左侧内容主体
=================================================*/
#wrapper{
	position: absolute;
	background: #000;
	width: 100%;
	height: 100%;
	 -webkit-transition: -webkit-transform 0.5s;
     transition: transform 0.5s;
}
#wrapper.menu-open {
  -webkit-transform: translateX(300px);
      -ms-transform: translateX(300px);
          transform: translateX(300px);
}
#wrapper .title{
	position: fixed;
  top: 5px;
  left: 50px;
  color: #fff;
  font-size: 24px;
}

/*===============================================
	侧栏图标按钮样式
=================================================*/
#toggle{
	 position: fixed;
  top: 12px;
  left: 12px;
  z-index: 99;
  width: 24px;
  height: 18px;
/*  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 7px,#000 7px,#000 11px,rgba(0, 0, 0, 0) 11px );
  background: linear-gradient(rgba(0, 0, 0, 0) 7px,#000 7px,#000 11px,rgba(0, 0, 0, 0) 11px );*/
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 7px,#fff 7px,#fff 11px,rgba(0, 0, 0, 0) 11px );
  background: linear-gradient(rgba(0, 0, 0, 0) 7px,#fff 7px,#fff 11px,rgba(0, 0, 0, 0) 11px );
  cursor: pointer;
}

#toggle::after,
#toggle::before{
	 display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

#toggle::before{
	top: 0;
	  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}
#toggle::after{
	bottom: 0;
	  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}

#toggle,
#toggle::before,
#toggle::after {
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}

/* 点击触发的样式 */
#toggle.active {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

#toggle.active::before {
  width: 75%;
  -webkit-transform: translateY(7px) rotate(-45deg);
      -ms-transform: translateY(7px) rotate(-45deg);
          transform: translateY(7px) rotate(-45deg);
}

#toggle.active::after {
  width: 75%;
  -webkit-transform: translateY(-7px) rotate(45deg);
      -ms-transform: translateY(-7px) rotate(45deg);
          transform: translateY(-7px) rotate(45deg);
}

/*===============================================
	侧栏样式
=================================================*/
nav.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	background-color: #fff;
	box-shadow: 0;
	transform: translateX(-300px);
	transition: transform 0.5s, box-shadow 0.5s;
	z-index: 10;
}

nav.menu.active{
	transform: translateX(0);
	box-shadow: 0px 2px 8px  rgba(0, 0, 0, 0.2);
}

/*头部样式*/
.menu-header{
	position: relative;
	width: 100%;
	height: 30%;
	min-height: 188px;
	background-color: #474747;
}
.menu-header .logo{
	position: absolute;
	width: 110px;
	height: 110px;
	left: calc(50% - 55px);
	top: calc(50% - 55px);
	background: #fff;
	border-radius: 50%;
	box-sizing: border-box;
	padding: 10px;
}
.menu-header .logo img{
	width: 100%;
	height: 100%;
}
/*item 样式*/
.menu-items{
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu-items li.menu-item:nth-last-of-type(1)::before{  /*最后一个 item*/
	content: '';
	display: block;
	width: 88%;
	margin-left: 6%;
	height: 1px;
	opacity: 0.2;
	background: #000;
	
}
.menu-item{
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	opacity: 0;
	display: block;
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	margin-top: 5%;
}
.item-1{
	transition: transform 0.5s 0.1s, opacity 0.5s 0.1s;
	-webkit-transition: -webkit-transform 0.5s 0.1s, opacity 0.5s 0.1s;
}
.item-2{
	transition: transform  0.5s 0.2s, opacity 0.5s 0.2s;
	-webkit-transition: -webkit-transform  0.5s 0.2s, opacity 0.5s 0.2s;
}
.item-3{
		transition: transform  0.5s 0.3s, opacity 0.5s 0.3s;
	-webkit-transition: -webkit-transform  0.5s 0.3s, opacity 0.5s 0.3s;
}
.item-4{
		transition: transform  0.5s 0.4s, opacity 0.5s 0.4s;
	-webkit-transition: -webkit-transform  0.5s 0.4s, opacity 0.5s 0.4s;
}
.item-5{
		transition: transform  0.5s 0.5s, opacity 0.5s 0.5s;
	-webkit-transition: -webkit-transform  0.5s 0.5s, opacity 0.5s 0.5s;
}
.item-6{
		transition: transform  0.5s 0.6s, opacity 0.5s 0.6s;
	-webkit-transition: -webkit-transform  0.5s 0.6s, opacity 0.5s 0.6s;
}
.item-7{
		transition: transform  0.5s 0.7s, opacity 0.5s 0.7s;
	-webkit-transition: -webkit-transform  0.5s 0.7s, opacity 0.5s 0.7s;
}
.item-8{
		transition: transform  0.5s 0.8s, opacity 0.5s 0.8s;
	-webkit-transition: -webkit-transform  0.5s 0.8s, opacity 0.5s 0.8s;
}

.menu-item.inview{
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	opacity: 1;
}
.menu-item-link{
	position: relative;
	display: block;
	padding: 12px;
	color: #000;
}
.touch-effect{
	display: block;
	position: absolute;
	z-index: -1;
	border-radius: 50%;
	background-color: gray;
	opacity: 0.3;
	  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.touch-effect.animating{
	  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
          transition: transform 0.5s, opacity 0.5s;
}

/*===============================================
	mask
=================================================*/
.mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.5s, opacity 0.5s;
}

.mask.active{
	visibility: visible;
	opacity: 1;
}